<div th:fragment="nav">
    <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
        <div class="container-fluid">
            <a class="navbar-brand d-flex align-items-center" href="#">
                <img src="https://flowbite.com/docs/images/logo.svg" alt="Logo" class="d-inline-block align-text-top" style="height: 2rem;">
                <span class="ms-3 fs-4 fw-semibold">Servicio de reclamos</span>
            </a>
            <div class="d-flex ms-auto">
                <form id="logout-form" th:action="@{/logout}" method="post" class="d-inline">
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
                    <button type="submit" class="btn btn-link text-primary text-decoration-none">
                        Logout <i class="ps-3 fa-solid fa-right-from-bracket"></i>
                    </button>
                </form>
            </div>
        </div>
    </nav>

    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <div class="container-fluid">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/home}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/home/register}">Registro</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
